/* Main Section */
.progress__main-section {
    max-width: 900px;
    margin: 0 auto;
}

.progress__main-wrapper {
    padding: 1.2rem;
}

.progress__username {
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    margin: 14px 0 35px 0;
}

@media (max-width: 415px) {
    .progress__main-wrapper {
        padding: .75rem;
    }
}
