/* Main Section */
.progress__main-section {
    max-width: 900px;
    margin: 0 auto;
}

.progress__main-wrapper {
    padding: 1.2rem;
}

@media (max-width: 415px) {
    .progress__main-wrapper {
        padding: .75rem;
    }
}
