.word-container {
    position: relative;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 12px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
}

.word-delete {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    cursor: pointer;
}

.word-delete img {
    width: 2rem;
}

/* Word header */
.word-header {
    display: flex;
    justify-content: space-between;
}

/* Word header - Left */
.word-header-left {
    display: flex;
    padding-bottom: 1.8rem;
}

.word__speaker-icon-wrapper {
    cursor: pointer;
    background: #0b77bd;
    border-radius: 1000px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    align-self: center;
}
.word__speaker-icon {
    width: 28px;
    border-radius: 10px;
    margin: 0 auto;
}

.word-header-audio {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.word-header-main {
    padding-left: 1rem;
}

.word-word {
    font-size: 32px;
}

.word-phonetic {
    font-size: 1rem;
    padding-top: .5rem;
    color: #5e5e5e;
}

/* Word header - Right */
.word-header-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    padding-bottom: 3.2rem;
}

.word-difficulty {
    padding: 6px 22px;
    border-radius: 10px;
}

.word-difficulty.easy {
    border: 2px solid #a8e6cf;
}
.word-difficulty.medium {
    border: 2px solid #ffd97d;
}
.word-difficulty.hard {
    border: 2px solid #ff8b94;
}

/* Word body */
.word-body {
    font-size: 16px;
}

.word-class {
    font-size: 14px;
    color: #5e5e5e;
    padding-bottom: 1rem;
}

.word-definition {
    padding-left: 32px;
    padding-bottom: .5rem;
    font-weight: bold;
}

.word-example {
    padding-left: 32px;
    padding-bottom: 1rem;
    color: #5e5e5e;
}

.word-origin {
    padding-left: 32px;
    padding-bottom: .5rem;
    padding-right: 2.2rem;
    color: #5e5e5e;
}
